@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');


:root {
   --Primary-Blue: hsl(223, 87%, 63%);
   --Secondary-Pale-Blue: hsl(223, 100%, 88%);
   --Secondary-Light-Red: hsl(354, 100%, 66%);
   --Neutral-Gray: hsl(0, 0%, 59%);
   --Neutral-Very-Dark-Blue: hsl(209, 33%, 12%);
}

html {
   box-sizing: border-box;
   font-size: 20px;
   /* background-color: blueviolet; */
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0 1.25rem;
   padding: 0;
   font-family: 'Libre Franklin', sans-serif;
   font-size: 1rem;
   font-weight: 300;
   text-align: center;
   color: var(--Neutral-Very-Dark-Blue);
   background-color: white;
}

h1 .header__logo {
   width: 20%;
   margin: 0 auto;
   max-width: 3.85rem;
   animation: logoAnimation 1s forwards, logoAnimation--goUp 1s 3s forwards;
}

h2 {
   font-size: 1.1rem;
   margin: 0;
   animation: hideElement 1s, headerTwoAnimation 1s 1s forwards, animation--goUp 1s 3s forwards;
}

h2 span {
   color: var(--Neutral-Gray);
   font-weight: 300;
}

button {
   outline: none;
   padding: 13px 0;
   font-family: 'Libre Franklin', sans-serif;
   color: #ffffff;
   font-size: 0.65rem;
   font-weight: 500;
   background-color: var(--Primary-Blue);
   border: none;
   border-radius: 1.25rem;
   cursor: pointer;
}

button:hover {
   background-color: hsl(223deg 87% 63% / 80%);
}

input {
   outline: none;
   padding: 0.55rem 1.5rem;
   border-radius: 1.25rem;
   font-size: 0.625rem;
   font-family: 'Libre Franklin', sans-serif;
   border: 1px solid var(--Secondary-Pale-Blue);
}

input:focus {
   border: 1px solid var(--Primary-Blue);
}

input::placeholder {
   color: var(--Secondary-Pale-Blue);
}

.dashboard__illustration {
   width: 100%;
   max-width: 21.65rem;
   animation: hideElement 5s, illustrationAnimation 1s 5s;
}

main.promotional {
   margin: 1.15rem 0 5.75rem 0;
}

main.promotional p {
   margin-top: 1.1rem;
   font-size: 0.65rem;
   font-weight: 400;
}

main.promotional header p {
   animation: hideElement 2s, promotionPAnimation 1s 2s forwards, animation--goUp 1s 3s forwards;
}

.promotional__form {
   margin: 1.4rem 0.8rem 1.9rem 0.8rem;
   display: flex;
   flex-direction: column;
   height: 131px;
   align-items: center;
}

.promotional__form p {
   animation: fadeInBlinkScale 1s;
}

.promotional__form input {
   margin-bottom: 0.5rem;
   z-index: 1;
   max-width: 21rem;
   width: 100%;
   animation: hideElement 4s, promotionalInputAnimation 1s 4s;
}

.promotional__form span {
   font-size: 0.6rem;
   font-weight: 400;
   font-style: italic;
   color: var(--Secondary-Light-Red);
   margin-bottom: 1.25rem;
   transform: translateY(-36px);
   height: 0px;
   margin: 0;
   opacity: 0;
   transition: all .5s;
   z-index: 0;
}

.promotional__form button {
   max-width: 21rem;
   width: 100%;
   animation: hideElement 4s, promotionalButtonAnimation 1s 4s;
}

.social__icons a {
   text-decoration: none;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: var(--Primary-Blue);
   font-size: 0.8rem;
   border: 1px solid var(--Secondary-Pale-Blue);
   border-radius: 50%;
   margin: 0 0.25rem 1.5rem 0.25rem;
   padding: 0.9rem;
   height: 31px;
   width: 31px;
   transition: background-color .5s,
      color .5s;
}

.social__icons a:hover {
   background-color: var(--Primary-Blue);
   color: #ffffff;
}

.social__icons i {
   display: flex;
   justify-content: center;
   align-items: center;
}

.social__icons a:nth-of-type(1) {
   animation: hideElement 6s, fadeInBlinkScale 1s 6s;
}

.social__icons a:nth-of-type(2) {
   animation: hideElement 6.5s, fadeInBlinkScale 1s 6.5s;
}

.social__icons a:nth-of-type(3) {
   animation: hideElement 7s, fadeInBlinkScale 1s 7s;
}

footer p {
   font-size: 0.65rem;
   color: var(--Neutral-Gray);
   animation: hideElement 8s, fadeInBlinkScale 1s 8s;


}

footer p:nth-of-type(1) {
   animation: hideElement 8s, fadeInBlinkScale 1s 8s;
}

.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
   text-decoration: none;
}

.attribution a:hover {
   color: var(--Primary-Blue);
}

/* transitions  */

.input--error {
   border: 1px solid var(--Secondary-Light-Red);
}

.promotional__form .span--error {
   margin-bottom: 1.25rem;
   height: unset;
   opacity: 1;
   transform: translateY(0);
}

.img--success {
   padding: 20px;
}


/* animations  */

@keyframes hideElement {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 0;
   }
}

@keyframes animation--goUp {
   0% {
      transform: translateY(20vh)
   }

   100% {
      transform: translateY(0);
   }
}

@keyframes logoAnimation {
   0% {
      opacity: 0;
      transform: translateY(20vh) scale(0);
   }

   100% {
      opacity: 1;
      transform: translateY(20vh) scale(3);
   }
}

@keyframes logoAnimation--goUp {
   0% {
      transform: translateY(20vh) scale(3);
   }

   100% {
      transform: translateY(0) scale(1);
   }
}

@keyframes headerTwoAnimation {
   0% {
      opacity: 0;
      transform: translateY(20vh) translateX(-80vw);
   }

   100% {
      opacity: 1;
      transform: translateY(20vh) translateX(0);
   }
}

@keyframes promotionPAnimation {
   0% {
      opacity: 0;
      transform: translateY(20vh) translateX(80vw);
   }

   100% {
      opacity: 1;
      transform: translateY(20vh) translateX(0);
   }
}

@keyframes promotionalInputAnimation {
   0% {
      transform: translateX(-80vw);
   }
}

@keyframes promotionalButtonAnimation {
   0% {
      transform: translateX(80vw);
   }
}

@keyframes illustrationAnimation {
   0% {
      transform: rotate(1440deg) scale(0);
   }
}

@keyframes fadeInBlinkScale {
   0% {
      opacity: 0;
      transform: scale(0);
   }

   50% {
      transform: scale(1.2);
   }
}


/* media queries  */

@media screen and (min-width: 750px) {

   body {
      margin: 10vh 5vw;
   }

   main.promotional h2 {
      font-size: 1.5rem;
   }

   main.promotional p {
      font-size: 0.75rem;
   }

   .promotional__form {
      display: grid;
      grid-template-areas: "input button"
         "error error";
      /* max-width: 420px; */
      max-width: 57vw;
      margin: 1.4rem auto 1.9rem auto;
      /* grid-template-rows: 42px 50px; */
      height: unset;
   }

   .promotional__form input {
      grid-area: input;
      margin-bottom: 0;
      height: 42px;
      max-width: 420px;
   }

   .promotional__form button {
      grid-area: button;
      margin-left: 10px;
      max-width: 175px;
   }

   .promotional__form span {
      grid-area: error;
      justify-self: start;
      margin-left: 30px;
      padding: 8px 0;
   }

   .dashboard__illustration {
      max-width: 74%;
   }
}

@media screen and (min-width: 1000px) {

   h1 .header__logo {
      max-width: 4.25rem;
   }

   main.promotional {
      margin: 2.15rem 0 5.75rem 0;
   }

   main.promotional h2 {
      font-size: 2rem;
   }

   main.promotional p {
      font-size: 0.85rem;
   }

   .dashboard__illustration {
      max-width: 32.5rem;
   }

   .promotional__form {
      margin: 2.15rem auto 3.5rem auto;
   }

   .promotional__form input {
      font-size: 0.85rem;
      height: 50px;
   }

   .promotional__form button {
      font-size: 0.85rem;
      height: 50px;
      font-weight: 400;
      max-width: 185px;
   }

   .promotional__form span {
      font-size: 0.7rem;
   }
}

@media screen and (min-width: 1100px) {

   body {
      margin: 10vh 20vw;
   }

   .promotional__form {
      max-width: 655px;
   }

}

@media screen and (min-width: 1300px) {
   main.promotional h2 {
      font-size: 2.4rem;
   }

   main.promotional p {
      font-size: 1rem;
   }

   .promotional__form input {
      height: 55px;
   }

   .promotional__form button {
      height: 55px;
      max-width: 400px;
   }
}